@import '../../variables';
@import '../../fonts';

.sidenav-container {
  height: 100%;

  button[aria-label="Toggle sidenav"] {
    background: transparent;
    border: 0;
    color: $black-10;
  }

  .sidenav {
    background: #fff;
    width: 200px;

    &__header-wrapper {
      display: flex;
      font-weight: 600;
      text-align: center;
      justify-content: center;
      background: #fff !important;
      height: 56px;
      &.mat-toolbar {
        box-shadow: none !important;
      }

      @media(max-width:$lg) {
        button {
          margin-left: auto;
        }
      }

      .logo {
        color: $primary;
      }

      .close-icon {
        display: none;

        @media(max-width:$lg) {
          display: inline-block;

        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .mat-nav-list {
    a {
      @include sidebarLinks();
      color: $darkGrey;
     svg{
        margin-right: 15px;
      }
      &.active{
        background: $primary;
        color: #fff;
      }
    }
  }

  .content {
    background: $lightBg;
    min-height: calc(100vh - 110px);
    padding: 4rem 1rem;
    // background-image: url(../../assets/images/Double-recs-rotate.png);
    // background-repeat: no-repeat;
    // background-size: 40%;
    // background-position: top right;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    background: #fff;
box-shadow: 0 13px 10px $shadow;
  }

  .mat-slide-toggle {
    @include sidebarLinks();
  }

  button[aria-label="Toggle sidenav"] {
    color: $darkGrey;
  }
}
.top_nav {
  padding: 1rem;
  background: $white;
  border-bottom: 1px solid #D9DEE4;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  &__menu {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      @media (min-width: 480px) {
          position: static;
      }
  }

  .dropdown-menu.show {
      display: block;
      right: -60px;
      left: auto !important;
      padding: 0;
      text-align: center;

      a {
          padding: 10px;
      }
  }

  &__user-wrapper {
      margin: 0 20px;

      img {
          width: 35px;
      }

      .dropdown-item {
          @include sidebarLinks();
      }
  }

  &__lang {
      margin-left: auto;
      margin-right: 15px;

      .dropdown-toggle {
          font-weight: 600;
      }

      .dropdown-menu.show {
          min-width: 5rem;
          text-align: center;
          right: -15px;
      }

  }
}
// dark theme
.dark-theme-mode {



  .logo {
    color: $primary !important;
  }

  .sidenav,
  .mat-toolbar-row,
  .mat-toolbar-single-row,
  .content,
  .sidenav__header-wrapper {
    background: $black-10 !important;
  }

  .content {
    background: $DarkBg !important;
  }

  .mat-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: $primary !important;
    }
  }
}


// footer
footer {
  padding: 1rem;

  p {
    margin: 0;
    @include label();
  }
}


