<section class="mini-cards">
    <div class="row">
      <!-- star min-card -->
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body d-flex">
            <figure><img src="../../../assets/images/min-card-1.png" alt=""></figure>
            <div class="content-wrapper">
              <p>5,000</p>
              <h3>Total labels</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end min-card -->
      <!-- star min-card -->
      <div class="col-md-6 col-lg-3">
        <div class="card card-green">
          <div class="card-body d-flex">
            <figure><img src="../../../assets/images/min-card-2.png" alt=""></figure>
            <div class="content-wrapper">
              <p>1800</p>
              <h3>Summited label</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end min-card -->
      <!-- star min-card -->
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body d-flex">
            <figure><img src="../../../assets/images/min-card-3.png" alt=""></figure>
            <div class="content-wrapper">
              <p>10</p>
              <h3>Not Submitted
                <br>
                label</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end min-card -->
          <!-- star min-card -->
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <div class="card-body d-flex">
                <figure><img src="../../../assets/images/min-card-3.png" alt=""></figure>
                <div class="content-wrapper">
                  <p>10</p>
                  <h3>Cancelled

                    label</h3>
                </div>
              </div>
            </div>
          </div>
          <!-- end min-card -->
    </div>
</section>
