// white

$lightBg : #F9F9F9;
$shadow : #DCE3F1;
$DarkBg : #383A3F;
$black-10: #212121;
$primary: #4D7CFE;
$white: #bfbec2;
$dusk-blue :#2a4e96;
$teal-blue: #0797a7;


// breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
