@import '../../variables';
@import '../../fonts';
.filter{
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    .form{

  margin: 0 auto;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;

  @media(max-width: 470px){
    flex-direction: column;
  }
  @media(max-width: $md){
    .btn-primary{
      margin:  auto;
    }
  }
  .row{
    width: 100%;
  }
  .date-block__list {
    width: 40%;
    @media(max-width: $md){
      width: 100%;
    }
}
  .mat-form-field{
    margin-right: 20px;
    width: 100%;
  }
  .btn-primary{
    padding: 10px 25px;

    @media(max-width: $md){
      width: 80%;
      margin: 0 auto;
    }
  }
}
.mat-datepicker-toggle{
  color: $primary !important;
}
}


